<div class="col text-center row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{{ url_for('static', filename='resume_review.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="/ask" style="text-decoration: none; font-weight: bold;"><h5 class="card-title" style="color: #007bff;">Get a resume review</h5></a>
        <p class="card-text">
          Get instant feedback on your resume with our AI-powered review tool - simply upload and improve!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{{ url_for('static', filename='mentorship.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <a  href="/mentor" style="text-decoration: none; font-weight: bold;"><h5 class="card-title" style="color: #007bff;">Seek Mentorship</h5></a>
        <p class="card-text">
          Talk to our chatbot about your mentorship needs so we can assist your school's career center in matching you with the ideal mentor!
        </p>
      </div>
    </div>
  </div>
</div>