<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'bootstrap.html' %}
  <title>Career Guide</title>
  <style>
    .status-pending { color: #007bff; }
    .status-reviewed { color: #28a745; }
  </style>
</head>
<body>

  {% include 'nav3.html' %}

  <div class="container" style="max-width: 820px; margin: 0 auto;">

    <h3 class="mt-3" style="text-align: center; color: #007bff; font-weight: bold;">Seek Mentorship</h3>
    
    <form class="mt-3" id="mentor-request" action="/mentor" method="POST">
      <div class="form-group">
        <textarea placeholder="How can a mentor best support you in your academic and career journey?" class="form-control" id="exampleFormControlTextarea1" name="student_request" rows="3"></textarea>
      </div>
      <button type="submit" id="sendRequestButton" class="btn btn-primary w-100 my-2" disabled>Send Request</button>
    </form>

    <h3 class="mt-5 pb-3 border-bottom" style="text-align: center; color: #007bff; font-weight: bold;">Previous Requests</h3>
    
    {% if requests %}
        <ul class="list-group">
            {% for request in requests %}
                <li class="list-group-item">
                  <strong style="text-align: center; color: #007bff; font-weight: bold;">Request:</strong> {{ request.request_text }}<br>
                    <strong style="text-align: center; color: #007bff; font-weight: bold;">Date:</strong> {{ request.request_date }}<br>
                    <strong style="text-align: center; color: #007bff; font-weight: bold;">Status:</strong> 
                    <strong class="{% if request.status == 'reviewed' %}status-reviewed{% else %}status-pending{% endif %}">
                        {{ request.status.capitalize() }}
                    </strong>
                </li>
            {% endfor %}
        </ul>
    {% else %}
      <ul class="list-group">
        <li class="list-group-item">It looks like you haven't made any requests yet. Start your journey by reaching out for mentorship!</li>
      </ul>
    {% endif %}
      
  </div>
  
  <div class="footer-spacing">
    {% include 'footer.html' %}
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var textarea = document.getElementById('exampleFormControlTextarea1');
      var sendRequestButton = document.getElementById('sendRequestButton');

      textarea.addEventListener('input', function() {
        if (textarea.value.trim() === '') {
          sendRequestButton.disabled = true;
        } else {
          sendRequestButton.disabled = false;
        }
      });
    });
  </script>

</body>
</html>
