<nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="color:#007bff"><strong>Career Guide</strong> {% include 'icon.html' %}</a>

     
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Log In Options
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
                <a class="dropdown-item" href="/adminSignUp" role="menuitem">Admin Sign Up</a>
                <a class="dropdown-item" href="/adminLogin" role="menuitem">Admin Log In</a>
                <a class="dropdown-item" href="/studentSignUp" role="menuitem">Student Sign Up</a>
                <a class="dropdown-item" href="/" role="menuitem">Student Login</a>
              </div>
            </div>
        </div>
      </nav>