<select id="school_name" name="school_name" class="form-control my-4 py-2" required>
    
    <option value="" disabled selected>Select a School</option>
    <option value="Grambling State University">Grambling State University</option>
    <option value="Alabama A&M University">Alabama A&M University</option>
    <option value="Bowie State University">Bowie State University</option>
    <option value="Fisk University">Fisk University</option>
    <option value="Florida A&M University">Florida A&M University</option>
    <option value="North Carolina A&T State University">North Carolina A&T State University</option>
    <option value="Prairie View A&M University">Prairie View A&M University</option>
    
</select>
