<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>Career Guide</title>
</head>
  <body>
      {% include 'nav.html' %}

      <section>
          <div class="container mt-5 pt-5">
              <div class="row">
                  <div class="col-12 col-sm-8 col-md-4 m-auto">
                      <div class="card border-0 shadow">
                          <div class="card-body">
<h2 style="color: #007bff;">Welcome to Career Guide!</h2>
<form action="/studentSignUp" method="post">
    
<input type="text" class="form-control my-4 py-2" placeholder="First Name" name="first_name">
<input type="text" class="form-control my-4 py-2" placeholder="Last Name" name="last_name">
<div class="form-group">  
    {% include 'schools.html' %}
</div> 
<input type="email" class="form-control my-4 py-2" placeholder="School Email" name="school_email">
<input type="password" class="form-control my-4 py-2" placeholder="Password" name="password">
<div class="text-center">
    <button class="btn btn-primary">Sign Up</button>
</div>
</form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="footer-spacing">
          {% include 'footer.html' %}
      </div>
      
  </body>
</html>